:root {
  --container-width: 836px;
  --container-padding: 24px;

  --font-main: sans-serif;
  --bs-font-family: "Roboto", sans-serif;
  --alt-font-family: "Montserrat", sans-serif;

  // palette
  --black: #000;
  --white: #fff;
  --off-white: #fafafa;
  --light-gray: #c8c7c7;
  --medium-gray: #dedede;
  --dark-gray: #636264;
  --gray: #929292;
  --blue: #3d8eda;
}
